table.container(width='100%')
  tr(width='100%')
    td(width='100%' style='padding: 9px 0;')
      p Hello, #{fullName}
      p Thank you for registering with us
  tr
    td(width='100%' style='padding: 9px 0')
      p Please use #{code} to activate your account
